/*
Colors: 
    background:#242424
    main-color:#52e2a4
    second-color:#393939

*/
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    background-color:#242424;
    color:#dedede;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.skills{
    padding:50px 0;
}
.skills .container header{
    text-align:center;
    margin-bottom:50px;
}
.skills .container .row div.col-lg-12:nth-of-type(odd){
    display:flex;
    justify-content:flex-end;
}
.skills .container .row div.col-lg-12:nth-of-type(even){
    display:flex;
    text-align:right;
}
.skills .container .row div.col-lg-12 .skill-item{
    position: relative;
    width:50%;
    padding:0 20px;
}
.skills .container .row div.col-lg-12 .skill-item:before{
    content:"";
    position: absolute;
    top:2px;
    width:20px;
    height:20px;
    background-color:#393939;
    border:1px solid #707070;
    border-radius:50%;
}
.skills .container .row div.col-lg-12:nth-of-type(odd) .skill-item:before{
    left:-10px;
}
.skills .container .row div.col-lg-12:nth-of-type(even) .skill-item:before{
    right:-10px;
}
.skills .container .row div.col-lg-12:not(:last-of-type) .skill-item:after{
    content:"";
    position:absolute;
    top:2px;
    
    width:4px;
    height:100%;
    background-color:#393939;
    z-index:-1;
}
.skills .container .row div.col-lg-12:nth-of-type(odd) .skill-item:after{
    left:-2px;
}
.skills .container .row div.col-lg-12:nth-of-type(even) .skill-item:after{
    right:-2px;
}
.skills .container .row div.col-lg-12 .skill-item h5{
    color:#52e2a4;
}